<div class="container flex flex-column align-items-center">
  <span class="mat-display-2 title-login">Log In</span>
  <form class="example-form flex flex-column align-items-center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
  </form>
</div>
