<div id="map" class="map-container"></div>
<div class="marker-div">
  <button mat-raised-button color="accent" (click)="addMarker()" class="marker-btn">Add marker</button>
  <ul>
    <li *ngFor="let marker of markers; let i = index" [ngStyle]="{
        'background-color': marker.color
      }" (click)="goToMarker(marker.marker)">Marker {{i + 1}}</li>
  </ul>
</div>
<div class="distance-container">
  <ul *ngIf="distance.length > 0">
    <li *ngFor="let pos of distance; let i = index">
      Distance: {{pos | number:'1.2-2'}}
    </li>
  </ul>
</div>
