<div id="map" class="map-container"></div>
<div class="marker-div">
  <button mat-raised-button color="accent" (click)="addMarker()" class="marker-btn">Add marker</button>
  <ul>
    <li *ngFor="let marker of markers; let i = index" [ngStyle]="{
        'background-color': marker.color
      }" (click)="goToMarker(marker.marker)">Marker {{i + 1}}</li>
  </ul>
</div>
<div *ngIf="distance.length > 0" class="distance-container flex flex-column align-items-center p-2">
  <ul>
    <li *ngFor="let pos of distance; let i = index">
      Distance: {{pos.distance | number:'1.2-2'}} km
    </li>
  </ul>
  <button mat-raised-button color="accent" (click)="saveData()" class="mt-1 mx-auto">Save</button>
</div>
