<div class="container flex flex-column align-items-center">
  <span class="title-signup mb-5">Sign Up <mat-icon aria-hidden="false" aria-label="Example home icon"
      class="icon-view">
      <span class="material-icons-outlined">
        app_registration
      </span>
    </mat-icon></span>
  <form (ngSubmit)='submit()' autocomplete="off" [formGroup]="signupForm"
    class="example-form flex flex-column align-items-center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <span *ngIf="isValid('username')" class="errors">Username is required</span>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>
    <span *ngIf="isValid('firstname')" class="errors">First name is required</span>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <span *ngIf="isValid('lastname')" class="errors">Last
      name is required</span>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <span *ngIf="isValid('email')" class="errors">Email is
      required</span>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    </mat-form-field>
    <span *ngIf="isValid('password')" class="errors">Password is required</span>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
    </mat-form-field>
    <span *ngIf="isValid('confirmPassword')" class="errors">Confirm password</span>
    <button class="mt-4" mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</div>
