.container {
  margin: 25px auto auto auto;
  width: 50%;
  padding: 10px;
}

.title-signup {
  font-style: oblique;
  font-weight: lighter;
  color: white;
}

.errors {
  font-size: smaller;
  color: rgb(255, 48, 48);
  align-self: flex-start;
}
