.container {
  margin: 50px auto;
  width: 250px;
  padding: 30px;
  background: #f1f7fe4f;
  border-radius: 30px;
}

.title-signup {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: lighter;
  color: white;
}

.icon-view {
  position: relative;
  /* Adjust these values accordingly */
  top: 2px;
  left: 5px;
  font-size: large;
}

.message-container {
  width: 200px;
}
