<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <button mat-list-item (click)="show('dash')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">dashboard</mat-icon>Dashboard
      </button>
      <button mat-list-item (click)="show('add')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">add
        </mat-icon> Add Task
      </button>
      <button mat-list-item (click)="show('countries')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">add</mat-icon>Add Country
      </button>
      <button mat-list-item (click)="show('data')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">flag</mat-icon>Show Countries
      </button>
      <button mat-list-item (click)="show('map')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">map</mat-icon>Map
      </button>
      <button mat-list-item (click)="show('distances')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">table</mat-icon>Distances
      </button>
      <button mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">chat</mat-icon>Messages
      </button>
      <button mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-view">settings</mat-icon>Settings
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>To - Do!</span>
      <button mat-raised-button class="button-color" (click)="logout()">Log out</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard *ngIf="showDashboard"></app-dashboard>
    <app-add *ngIf="showAdd"></app-add>
    <app-add-countries *ngIf="showAddCountries"></app-add-countries>
    <app-graficas *ngIf="showCountries"></app-graficas>
    <app-map *ngIf="showMap && isAdminLogged"></app-map>
    <div *ngIf="showMap && !isAdminLogged" class="flex justify-content-center mt-4">
      <h1 class="display-4">THIS FUNCTION IS ONLY AVAILABLE TO ADMINS</h1>
    </div>
    <app-distance-table *ngIf="showDistances"></app-distance-table>
  </mat-sidenav-content>
</mat-sidenav-container>
