<div class="flex flex-row align-items-center justify-content-center title-container">
  <div>
    <h3 class="title-style">To - Do!</h3>
    <span class="desc">A list of tasks you need to complete or things that you want to do</span>
  </div>

  <div class="flex flex-row align-items-center justify-content-around ml-auto p-2">
    <button mat-button color="primary">Contact Us</button>
    <button mat-button color="primary" class="ml-2">About</button>
  </div>
</div>

<div class="grid container">
  <div class="col-12 md:col-6">
    <div class="flex flex-column align-items-start justify-content-center container">
      <span class="paragraph">Log In here</span>
      <button mat-raised-button color="primary" routerLink="/auth/login">Log In</button>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="flex flex-column align-items-start justify-content-center container">
      <span class="paragraph">Don't have an account?</span>
      <button mat-raised-button color="primary" routerLink="/auth/signup">Sign Up</button>
    </div>
  </div>
</div>

<div>
  <ul>
    <li>Organize your ideas and your responsabilities</li>
    <li>Enjoy a beautiful design</li>
    <li>Easy to create and use</li>
  </ul>
</div>
