<div class="flex flex-column align-items-center">
  <form [formGroup]="countryForm" (ngSumbit)="submit()" class="example-form">
    <h3>Add a country</h3>
    <div formArrayName="newCountry" class="flex flex-column justify-content-center align-items-center">
      <div *ngFor="let country of newCountry.controls; let i = index;">
        <div>
          <label>Name: </label>
          <input formControlName="name">
        </div>
        <div>
          <label>Abbreviation: </label>
          <input formControlName="abb">
        </div>
        <div>
          <label>Population: </label>
          <input formControlName="population">
        </div>
        <div>
          <label>Continent: </label>
          <input formControlName="continent">
        </div>
      </div>
    </div>
    <button (click)="addNewCountry()">Add</button>
    <button type="submit" (click)="submit()">Submit</button>
  </form>
</div>
