/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  border: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(219, 45, 253, 1) 100%
  );
}
