<div class="mat-elevation-z8 mt-2">

  <mat-form-field class="ml-2" appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput #input (keyup)="applyFilter($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="name">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-heade r sortActionDescription="Sort by abbreviation">
        Abbreviation
      </th>
      <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by population">
        Population
      </th>
      <td mat-cell *matCellDef="let element"> {{element.population}} </td>
    </ng-container>

    <ng-container matColumnDef="continent">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header sortActionDescription="Sort by continent">
        Continent
      </th>
      <td mat-cell *matCellDef="let element"> {{element.continent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of countries">
  </mat-paginator>
</div>
